.heading{
    
    font-family: 'Patua One';
    font-weight: 900;
    color:rgb(15, 15, 15);
    font-size:3.2rem;
    text-transform: uppercase;
    text-align: center;
}

.searcher{

    
    margin-top:2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.btn_block{

    font-family: 'Saira'!important;
    font-size: 1rem! important;
    font-weight: bold! important;
    width:80%;
    margin-left: 10%;
}