body{
    background-color: azure;
    
}

.container-t{

    
    background: url('./img-1.jpg');
    background-size: cover;
    padding: 5rem;
    margin-bottom: 3rem;
}

.title{

    font-size: 2rem! important;
    font-family: 'Saira'! important;

}

h3{

    font-size: 1.5rem;

}

.card{

   padding: .8rem;
   width: auto; 
   margin: 5px auto! important;
  
}

